:root {
  --primary-text-color: #252b42;
  --secondary-text-color: #737373;
  --secondary-dark-text-color: #5d5d5d;
  --light-text-color: #ffffff;
  --primary-button-color: #ff7b47;
  --secondary-color-1: #0d5c63;
  --secondary-color-2: #17213c;
  --light-background-color: #ffffff;
  --grey-background-color: #fafafa;
  --dark-background-color: #252b42;
  --hover-color: #2a7cc7;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-text-color);
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: var(--grey-background-color);
}

.container {
  max-width: 1046px;
  padding: 0 15px;
  margin: 0px auto;
  box-sizing: content-box;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.hidden {
  font-size: 0px;
}

p {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: var(--secondary-text-color);
}

/* ---------------------HEADERS Block------------------ */
.header-block {
  text-align: center;
}

.header-block-title {
  padding: 0 0 10px;
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
  color: var(--primary-text-color);
}

.header-block-title:not(:last-child) {
  padding: 0 0 10px 0;
}

@media (max-width: 767px) {
  .header-block-title {
    font-size: 35px;
  }
}

@media (max-width: 470px) {
  .header-block-title {
    font-size: 28px;
  }
}

.header-block-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: var(--secondary-text-color);
}

/* --------HEADER----------------------------------------------- */
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header_container {
  display: flex;
  min-height: 104px;
  align-items: center;
}

@media (max-width: 479px) {
  .header_container {
    max-height: 120px;
  }
}

.header_logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 133%;
  color: inherit;
}

.header_menu {
  margin: 0 0 0 133px;
  padding: 5px 0;
}

@media (max-width: 992px) {
  .header_menu {
    margin: 0 0 0 80px;
  }
}

@media (max-width: 767px) {
  .header_menu {
    margin: 0 0 0 40px;
  }
}

@media (max-width: 479px) {
  .header_menu {
    margin: 0 0 0 20px;
  }
}

.menu_list {
  display: flex;
  flex-wrap: wrap;
}

.menu_item {
}

.menu_item:not(:last-child) {
  margin-right: 21px;
}

.menu_link {
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  color: var(--secondary-text-color);
}

@media (max-width: 479px) {
  .menu_link {
    font-size: 18px;
    color: var(--secondary-dark-text-color);
  }
}

/* ---------MAIN------------------------------------------------ */

.main {
}

.main-block {
  position: relative;
}
.main-block-container {
}

.main-block-body {
  padding: 184px 0 191px 0;
  position: relative;
  z-index: 2;
  max-width: 400px;
}

.main-block-body > *:not(:last-child) {
  margin: 0 0 35px 0;
}

.main-block-title {
  font-weight: 800;
  font-size: 58px;
  line-height: 138%;
  letter-spacing: 0.2px;
}

@media (max-width: 479px) {
  .main-block-title {
    font-size: 42px;
  }
}

.main-block-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: var(--secondary-text-color);
}

@media (max-width: 479px) {
  .main-block-text {
    color: var(--secondary-dark-text-color);
  }
}
.main-block-buttons {
  display: inline-flex;
  flex-wrap: wrap;
  margin: -10px 0;
}

.main-block-button {
  border-radius: 37px;
  display: flex;
  min-height: 48px;
  justify-content: center;
  align-items: center;
  padding: 5px 36px;
  margin: 10px 0;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.2px;
}

@media (max-width: 479px) {
  .main-block-button {
    flex: 1 1 100%;
  }
}

@media (min-width: 479px) {
  .main-block-button:not(:last-child) {
    margin-right: 10px;
  }
}

.main-block-button-primary {
  background: var(--primary-button-color);
  color: var(--light-text-color);
}

.main-block-button-secondary {
  border: 1px solid var(--secondary-color-1);
  color: var(--secondary-color-1);
}

.main-block-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 1300px) {
  .main-block-image img {
    object-position: right;
  }
}

@media (max-width: 992px) {
  .main-block-image img {
    opacity: 0.5;
  }
}

/* ------------Services---------------- */
.main-services {
  position: relative;
  z-index: 2;
  margin: -111px 0 0 0;
}

@media (min-width: 670px) {
  .services-body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px -30px;
  }
}

.services-column {
  padding: 0 15px;
  flex: 0 1 33.333%;
  margin: 0 0 30px 0;
}

@media (min-width: 670px) {
  .services-column {
    padding: 0 15px;
  }
}

@media (max-width: 992px) {
  .services-column {
    flex: 0 1 50%;
  }
  .services-column:last-child {
    flex: 1 1 100%;
  }
}

.services-item {
  height: 100%;
  padding: 35px;
  background-color: var(--light-background-color);
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.services-item > *:not(:last-child) {
  padding: 0 0 10px 0;
}

.services-item:hover {
  background: var(--secondary-color-1);
  color: var(--light-text-color);
}

.services-item:hover > .services-item-icon > .svg-icon {
  fill: var(--light-text-color);
}

.services-item:hover > .services-item-title,
.services-item:hover > .services-item-text {
  color: var(--light-text-color);
}

.services-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: var(--primary-text-color);
}

/* ------------Advantages---------------- */
.main-avantagces {
}
.avantages-container {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media (max-width: 992px) {
  .avantages-container {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}

.advantages-header:not(:last-child) {
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  .advantages-header {
    margin: 0px 30px 30px 30px;
  }
}

.avantages-body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px -30px;
}

.avantages-column {
  padding: 0 15px;
  flex: 0 1 25%;
  margin: 0 0 30px 0;
}

@media (max-width: 1020px) {
  .avantages-column {
    flex: 0 1 50%;
  }
}

@media (max-width: 670px) {
  .avantages-column {
    flex: 0 1 100%;
  }
}

@media (max-width: 670px) {
  .avantages-column {
    padding: 0 30px;
  }
}

.avantages-item {
  height: 100%;
  padding: 35px;
  background-color: var(--light-background-color);
  text-align: center;
}

.avantages-item > *:not(:last-child) {
  padding: 0 0 10px 0;
}

.avantages-icon {
  display: flex;
  justify-content: center;
}
.avantages-value {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
  color: var(--primary-text-color);
}
.avantages-text {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 150% ;  
  letter-spacing: 0.1px;
  color: var(--secondary-text-color);
}

/* ------------Practice---------------- */
.main-practice {
}

.practice-container {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media (max-width: 992px) {
  .practice-container {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}

.practice-header{
  padding: 45px 0 45px 0;
}

@media (max-width: 992px) {
  .practice-header {
    margin: 0px 30px 30px 30px;
  }
}

@media (max-width: 425px) {
  .practice-header {
    padding: 30px 0 20px 0;
  }
}

.practice-body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px -30px;
}

.practice-column {
  padding: 0 17px;
  flex: 0 1 25%;
  margin: 0 0 30px 0;
}

@media (max-width: 890px) {
  .practice-column {
    flex: 0 1 50%;
  }
}

@media (max-width: 425px) {
  .practice-column {
    flex: 0 1 100%;
  }
}

@media (max-width: 670px) {
  .practice-column {
    padding: 0 30px;
  }
}

.practice-item-link {   
  display: inline-block;
  height: 100%;
}

.practice-item-link:hover > *,
.practice-item-link:hover > * > * > *{
  background-color: var(--secondary-color-1);  
  color: var(--light-text-color);
}

.practice-item-link:hover img{
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9); 
  transition: all 1.5s;
}

.practice-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--light-background-color);
}

.practice-item-descr {
  padding: 35px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.practice-item-descr > *:not(:last-child) {
  margin-bottom: 15px;
}


.practice-item-title {
  margin-right: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: var(--primary-text-color);
}

@media (max-width: 1060px) {
  .practice-item-title {
    margin-right: 0px;
  }
}

@media (max-width: 1060px) {
  .practice-item-title {
    margin-right: 0px;
  }
}

.practice-item-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: var(--secondary-text-color);
}

.practice-item-img {
  width: 100%;
}

/* ------------WHO WE ARE---------------- */

.main-whoweare {
  background-color: var(--light-background-color);
}

.whoweare-container {
  padding: 100px 15px 136px 15px;
}

@media (max-width: 950px) {
  .whoweare-container  {
    padding: 50px 30px;
  }
}

.whoweare-header {  
}

.whoweare-body {
  padding: 100px 0 0 0;
  display: flex;
  align-items: flex-start;
  align-items: stretch;
}

@media (max-width: 950px) {
  .whoweare-body {
  flex-direction: column-reverse;
  padding: 30px 0 0 0;
}
}

.whoweare-video {
  flex: 0 0 57%;
  position: relative;
  padding: 0 0 42.25% 0;
}

.whoweare-video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

@media (max-width: 950px) {
  .whoweare-video{
    padding: 0 0 56.25% 0;
  }
}
@media (max-width: 950px) {
  .whoweare-video:not(last-child) {
    margin-top: 50px;
  }
}

.whoweare-content {
  flex: 1 1 auto;
  padding: 20px 0 0 120px;
}
@media (max-width: 1080px) {
  .whoweare-content {
    padding: 0px 0 0 50px;
  }
}

@media (max-width: 950px) {
  .whoweare-content {
    padding: 0px 0 0 0px;
  }
}

.whoweare-content-title {
  }

  .whoweare-content-title:not(:last-child) {
    padding-bottom: 10px;
  }

  @media (max-width: 950px) {
    .whoweare-content-title {
      font-size: 20px;
    }
  }

.whoweare-content-text {
}

.whoweare-content-items {
  padding: 50px 0 0 0;
}
.whoweare-content-item {
  display: flex;
}
.whoweare-content-item:not(:last-child) {
  margin: 0 0 30px 0;
}
.whoweare-content-item-icon {
  flex: 0 0 32px;
}
.whoweare-content-item-body {
  flex: 1 1 auto;
  padding: 0 0 0 20px;
}
.whoweare-content-item-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: var(--primary-text-color);
}
.whoweare-content-item-title:not(:last-child) {
  padding: 0 0 5px 0;
}
.whoweare-content-item-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: var(--secondary-text-color);
}

/* --------------CLIENTS------------------ */

.main-clients {
}
.clients-container {
}

.clients-body {
  padding: 40px 15px;
}

@media (max-width: 767px) {
  .clients-body {
    padding: 20px 15px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.client-item {
  flex: 0 1 16.667%;
  text-align: center;
  padding: 10px 0;
  min-width: 130px;
}
.client-img {
  max-width: 100%;
}

/* --------------SUBSCRIBE------------------ */
.main-subscribe {
  position: relative;
}

.main-subscribe::before{
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 77px;
  background: var(--dark-background-color);
}

.subscribe-container {
  padding: 20px 30px;
}

@media (max-width: 767px) {
  .subscribe-container {
    padding: 20px 0px;
  }
}

.subscribe-body {
  position: relative;
  z-index: 2;  
  align-items: center;  
  padding: 30px 50px;  
  border-radius: 2px;
  background-color: var(--secondary-color-2);
}

@media (min-width: 767px) {
  .subscribe-body {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .subscribe-body {
    flex-direction: column;
    padding: 20px 30px; 
  }
}

@media (max-width: 480px) {
  .subscribe-body {
    padding: 20px 20px;
  }
}

.subscribe-title {
  flex: 0 1 50%;  
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: var(--light-text-color);
}

@media (min-width: 767px) {
  .subscribe-title {
    max-width: 266px;
  }
}

@media (max-width: 767px) {
  .subscribe-title:not(:last-child) {
    padding: 0 0 20px 0;
  }
}

@media (max-width: 480px) {
  .subscribe-title {
    font-size: 18px;
  }
}

.subscribe-form {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
  
}

@media (max-width: 480px) {
  .subscribe-form {
    max-width: 100%;
  }
}

.subscribe-input {
  width: 100%;
  flex: 1 1 auto;
  min-height: 58px;
  padding: 0 5px 0 20px;
  border-radius: 5px 0px 0px 5px;
  background-color: #E6E6E6;
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.2px;
  color: var(--secondary-text-color);
}

.subscribe-input:focus {
  color: var(--primary-text-color);
}

@media (max-width: 480px) {
  .subscribe-input {
    min-height: 40px;
    padding: 0 5px 0 10px;
  }
}

.subscribe-btn {
  min-height: 58px;
  padding: 0px 22px;
  background: var(--primary-button-color);
  border: 1px solid #E6E6E6;
  border-radius: 0px 5px 5px 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.2px;
  color: var(--light-text-color);
}

@media (max-width: 767px) {
  .subscribe-btn {
    padding: 0px 15px;
  }
}

@media (max-width: 480px) {
  .subscribe-btn {
    min-height: 40px;
  }
}

/* --------------GET IN TOUCH------------------ */

.getintouch-container {
  padding: 80px 15px;
}

.getintouch-header {
  margin-bottom: 80px;
}

.getintouch-body {
  
  padding: 0 15px;
}

.getintouch-column {
  flex: 0 1 33.3333%;
 flex-wrap: wrap;
}

.getintouch-column:hover > *,
.getintouch-item:hover > * > * > * {
  background-color: var(--dark-background-color);  
  color: var(--light-text-color);
}

.getintouch-column:hover > .getintouch-item > .getintouch-item-icon > .getintouch-svg {
  fill: var(--light-text-color);
}

.getintouch-column:hover > .getintouch-item > .getintouch-item-contacts >.getintouch-item-contact {
  color: var(--light-text-color);
}

.getintouch-column:hover > .getintouch-item > .getintouch-item-contacts >.getintouch-item-contact {
  color: var(--light-text-color);
}

.getintouch-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 33.3333%;
  padding: 50px 15px;
  text-align: center;
  background: var(--light-background-color);
}

.getintouch-item:hover {
  margin: -30px 0px -30px 0px;
  padding: 80px 40px;
  transition: all 1.5s;
}

.getintouch-item-icon {
  text-align: center;
}

.getintouch-item-contacts {
  padding: 15px 10px;
}
.getintouch-item-contact {
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  letter-spacing: 0.2px;
  color: var(--primary-text-color);
}

.getintouch-item-contact.getintouch-item-contact.getintouch-item-contact.getintouch-item-contact:hover {
  color: var(--primary-button-color);
}

.getintouch-item-title {
  font-weight: 700;
font-size: 16px;
line-height: 150%;
text-align: center;
letter-spacing: 0.1px;
}

.getintouch-item-title:not(:last-child) {
  padding: 0 0 15px 0;
}
.getintouch-item-btn {
  min-height: 44px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-button-color);
  border-radius: 5px;  
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: var(--primary-button-color);
}

.getintouch-item-btn:hover {
  background-color: var(--primary-button-color);
}

.getintouch-column:hover > .getintouch-item > .getintouch-item-btn {
  border: 1px solid var(--light-text-color); 
  color: var(--light-text-color);
}

@media (min-width: 992px) {
  .getintouch-body {
    display: flex;
    align-items: center;
  }
  .getintouch-column:not(:last-child) {
    margin-right: 5px;
  }
}
@media (max-width: 992px) {
  .getintouch-container {
    padding: 50px 15px;
  }
  
  .getintouch-header {
    margin-bottom: 40px;
  }

  .getintouch-column {
    margin-bottom: 30px;
  }

  .getintouch-item{
    padding: 20px 15px;
  }

  .getintouch-item:hover {
    margin: -30px 0px -30px 0px;
    padding: 50px 15px;
    transition: all 1.5s;
  }
}

/* --------FOOTER----------------------------------------------- */
.footer {
}
